body {
  font-family: "Press Start 2P", system-ui;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f0f2f5;
  margin: 0;
  color: #333;
}

.container {
  background-color: rgb(3, 3, 3);
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 90%;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  /* color: #007bff; */
  color: white;
  margin-bottom: 25px;
  font-weight: bold;
  font-size: 1.5;
}

.camera-section {
  position: relative;
  width: 100%;
  max-width: 640px; /* Standard webcam width */
  margin: 0 auto 20px auto;
  border: 5px solid #d6d6d6;
  border-radius: 8px;
  overflow: hidden;
}

video {
  width: 100%;
  height: auto;
  display: block;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.countdown-overlay {
  border-radius: 8px;
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 100px;
  height: 100px;
  background-color: rgba(0, 0, 0, 0.6);
  /* background-color: white; */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3em;
  color: white;
  font-weight: normal;
  display: none; /* Hidden by default */
}

.buttons {
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
  width: 90%;
}

button {
  /* background-color: #007bff; */
  background: linear-gradient(180deg, #3399ff, #007bff, #0056b3);
  color: white;
  border: none;
  padding: 0.5rem 2rem;
  border-radius: 5px;
  border: 3px solid grey;
  font-size: 1.2em;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 15px;
  /* width: 40%; */
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

button:hover {
  background-color: #0056b3;
}

button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.photos-preview {
  display: flex;
  flex-direction: column; /* Stack photos vertically */
  align-items: center;
  gap: 15px;
  margin-top: 30px;
  padding: 10px;
  border: 1px dashed #ccc;
  border-radius: 8px;
  min-height: 100px; /* To show border even when empty */
}

.photos-preview img {
  width: 100%;
  max-width: 320px; /* Example size for captured photos */
  height: auto;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
